@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to{
        opacity: 1;
    }
}

@keyframes formSlide {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes hero-slide {
    0% {
        transform: translateY(-90px);
        opacity: 0;
    }

    50% {
        transform: translateY(20px);
        opacity: 1;
    }

    100%{
        transform: translateY(0px);
    }
}

@keyframes stars1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.35);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes stars2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.65);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes stars3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.85);
    }

    100% {
        transform: scale(1);
    }
}

.hero-block__text-cont *{
    animation-name: hero-slide;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    transition: .3s ease-in-out;
}



.scrollTop{
    display: none;
    justify-content: center;
    align-items: center;


    background-color: #B9FD50;
    color: #1a1a1a;
    padding: 15px;
    position: fixed;
  
    border: none;
    border-radius: 50%;
   
    right: 40px;
    bottom: 20px;
    

    width: 40px;
    height: 40px;

    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    transition: 2s ease-in-out;
    cursor: pointer;
    z-index: 1500;
}

.scrollTop__button{
    width: 20px;
    height: 20px;
    transform: rotateZ(180deg);
    cursor: pointer;
    
}

.show{
    display: flex;
}

.header *, 
.black-text *, 
.green-button,
.hero-block__brands-img,
.black-text__button,
.capabilities__button,
.footer__li-element, 
.news__button-cont,
.capabilities__text-card,
.customer__swipe-button,
.FAQS__button-send,
.footer__facebook,
.footer__icon,
.news__single-card,
.pricing__button,
.pricing__card,
.book-call__button,
.hero-block__text-cont,
.hero-block__svg-star,
.hero-block__svg-star2,
.hero-block__svg-star3,
.login-menu__button,
.login-menu__signUp,
.login-menu__close,
.book-call__close{
    transition: .3s ease-in-out;
}  



.hero-block__svg-star{
    animation-name: stars1;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.hero-block__svg-star2{
    animation-name: stars2;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.hero-block__svg-star3{
    animation-name: stars3;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}


.customer__big-card,.banner__inner-cont,.green-button--new{
    transition: transform 0.1s linear;
}

.header__li-element:hover{
    transform:scale(1.1)
}

.hero-block__brands-img, 
.capabilities__button,
.news__button-cont,
.capabilities__text-card,
.customer__swipe-button,
.FAQS__button-send,
.footer__facebook,
.footer__icon,
.news__single-card,
.pricing__card,
.pricing__button{
    cursor: pointer;
}



.green-button:hover{
   box-shadow: 1px 20px 45px -6px rgba(185,253,80,0.55);
   transform: translateY(-5px);
}

.fade-in{
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.hero-block__brands-img:hover{
    transform:scale(1.1)
}

.black-text__button:hover{
    transform: scale(0.95);
    border-bottom: 7px solid #1a1a1a;
}

.capabilities__button:hover{
    transform: scale(0.95);
    border: 1px solid #B9FD50;
    padding: 10px 20px;

    border-radius: 20px;
}

.footer__li-element:hover{
    transform: scale(1.1); 
}

.news__button-cont:hover{
    border-bottom: 8px solid#B9FD50;
   
}

.capabilities__text-card:hover{
    transform: translateY(-5px) scale(0.95);
}

.customer__swipe-button:hover{
    border-bottom: 7px solid #1a1a1a;
}

.FAQS__button-send:hover{
    background-color: #1a1a1a;
    color:#B9FD50;
    transform: scale(0.95);
}

.footer__facebook:hover, 
.footer__icon:hover, 
.login-menu__signUp:hover, 
.login-menu__close:hover,
.book-call__close:hover{
    transform: scale(1.1);
}

.news__single-card:hover, .pricing__card:hover{
    transform: translateY(-8px);
}

.pricing__button:hover{
    transform: scale(1.044);
    border-bottom: 7px solid #B9FD50;
    
}

.book-call__button:hover, .login-menu__button:hover{
    border: 1px solid #B9FD50;
    color:#B9FD50;
    background-color: #1a1a1a;
    
}

