@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "./animations.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
   
}

/* ползунки и параметры для сайта */

html{
    scroll-behavior: smooth;
    scrollbar-color: #B9FD50;
    font-size: 16px;
}



/* общие стили */



.green-button--mobile{
    display: none;
}

.green-button--smaller{
    padding: 8px 14px;
    width: 149px;
    height: 56px;
}

.green-button{
    border-radius: 8px;
    padding: 8px;
    width: 160px;
    height: 56px;
    background-color: #B9FD50;
    border: none;
    cursor: pointer;
}

.green-button__text{
    font-weight: 500;
    font-size: 1rem;
    line-height: 138%;
    color: #111204;
}

.text-block__title{
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    text-transform: uppercase;
    color: #b9fd50;

    width: 120px;
}

.text-block__inner-title{
    font-weight: 600;
    font-size: 3.3rem;
    line-height: 107%;
    letter-spacing: -0.01em;
    color: #fff;

    width: 606px;

}

.text-block__subtitle{
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);

    width: 500px;
    height: 136px;

}

.text-block{
    width: 100vw;
    
}

.text-block__inner{
    display: flex;
    justify-content: center;
    
    gap: 60px;
}

.text-block__subtitle--smaller{
    width: 560px;
}

.text-block--distance{
    margin-top: 130px;
}



.text-block__small-text{
    width: 100vw;
    padding-bottom: 16px; 

    padding-left: 20vw;

    display: flex;
    justify-content: start;
    align-items: start;
}


.text-block__inner-extra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
}

.black-text{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.black-text__title{
    font-weight: 700;
    font-size: 3rem;
    line-height: 121%;
    letter-spacing: -0.06em;
    text-align: center;
    color: #111204;

    width: 484px;
}

.black-text__subtitle{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    text-align: center;
    color: rgba(17, 18, 4, 0.8);

    width: 462px;
}

.black-text__button{
    border: 1px solid #111204;
    border-radius: 8px;
    width: 184px;
    height: 64px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-top: 25px;

}

.black-text__icon{
    width: 25px;
    height: 25px;
}

.black-text__button-text{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
    text-align: center;
    color: #111204;


}

.black-text__small{
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    color: #111204;
}

.dark-theme-text{
    padding-top: 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.dark-theme-text__green{
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    text-transform: uppercase;
    color: #b9fd50;
}

.dark-theme-text__title{
    font-weight: 700;
    font-size: 3rem;
    line-height: 121%;
    letter-spacing: -0.06em;
    text-align: center;
    color: #fff;
}

.dark-theme-text__subtitle{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);

    width: 462px;
    margin-top: 10px;
}

.light__svg{
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: 1;
    border-radius: 100%;
    background-color: rgba(185, 253, 80, 0.4);
    filter: blur(180px);
    

    width: 300px;
    height: 309px;
    overflow-x: hidden;
}

.logo{
    font-weight: 700;
    font-size: 2rem;
    line-height: 140%;
    text-align: center;
    color: #fff;
    width: 99px;
}

.logo--green{
    color: #b9fd50;
}

/* стили блоков и т.д */

body{
    overflow-x: hidden;
    background-color: black;
}

/* header */

.header{
    width: 100vw;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 35px 40px;
    z-index: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
}



.header__link{
    font-weight: 400;
    font-size: 1rem;
    line-height: 163%;
    color: #fff;
}

.header__nav{
    width: fit-content;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style-type: none;

    
    
}


.header__mobile-menu{
    background-color: transparent;
    border: none;
    display: none;
    cursor: pointer;
}

.header__menu-icon{
    width: 40px;
    height: 40px;
}

/* main */

.main{
    width: 100vw;
    overflow-x: hidden;
}

/* hero-block */

.hero-block{
    width: 100vw;
    padding-top: 210px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px
}

.hero-block__text-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    width: 100%;
    position: relative;
   
   
}

.hero-block__text-cont *{
    z-index: 2;
}

.hero-block__title{
    font-weight: 700;
    font-size: 6rem;
    line-height: 107%;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    padding-bottom: 3px;

    width: 815px;
}

.hero-block__title--green{
    font-style: italic;
    font-weight: 800;
    color: #b9fd50
}

.hero-block__subtitle{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);

    width: 522px;
}

.hero-block__brands{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero-block__green-line{
    width: 50px;
    height: 2px;
}

.hero-block__brands-text{
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 160%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.hero-block__brands-cont{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 39px;
}

.hero-block__brands-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;

    border-radius: 22px;
    width: 1279px;
    height: 114px;
    background: #222;
}

.hero-block__brands-img{
    width: 183px;
    height: 48px;
}

/* 43 difference*/

.hero-block__brands-img--smaller{
    width: 146px;
}

.hero-block__svg-star{
    position: absolute;
    top: 21%;
    right: 25%;
    width: 112px;
    height: 112px;
}

.hero-block__svg-star2{
    position: absolute;
    top: 59%;
    left: 31%;
    width: 16px;
    height: 16px;
}

.hero-block__svg-star3{
    position: absolute;
    top: 61%;
    right: 38%;
    width: 24px;
    height: 24px;
}



/* how we work */

.how-we-work{
    width: 100vw;
    padding-top: 136px;
}

.how-we-work__img{
    width: 45px;
    height: 45px;
    z-index: 1000;
    border: none;
}

.how-we-work__card-image{
    border-radius: 100%;
    background-color: #B9FD50;
    width: 93px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.how-we-work__cards-icons{
    display: flex;
    width: 430px;
}

.how-we-work__line{
    width: 331px;
    position: relative;
    left: -5%;
}

.how-we-work__title{
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: -0.01em;
    color: #fff;

    width: 379px;
}

.how-we-work__subtitle{
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);

    width: 300px;
    height: 283px;
}

.how-we-work__cont{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 127px;
    padding-left: 180px;
    gap: 26px;
}

.how-we-work__card{
    display: flex;
    flex-direction: column;
    gap: 21px;
    justify-content: center;
    width: fit-content;
}

/* BEAUTIFUL WORKS */

.beautiful-w{
    width: 100vw;
    background-color: white;
    padding-top: 77px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 61px;
    
    
}

.beautiful-w__pictures-cont{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 26px;
    height: 1020px;
    margin-top: 120px;
}

.beautiful-w__pictures-column{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 26px;
    height: 1000px
    
}

.beautiful-w__pictures-column--longer{
    align-items: center;
    justify-content: end;
}

.beautiful-w__img{
    width: 340px;
    height: 340px;
}


/* CAPABILITIES */

.capabilities{
    width: 100vw;
    padding-top: 50px;
}

.capabilities__small-text{
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    color: #b9fd50;
}

.capabilities__title{
    font-weight: 600;
    font-size: 3.3rem;
    line-height: 107%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}

.capabilities__text-cards{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 32px;
}

.capabilities__text-cards-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 70%;
}

.capabilities__text-card{
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 148%;
    text-align: center;
    color: #111204;
    text-align: center;

    border-radius: 8px;
    padding: 12px 27px 12px 27px;
    width: fit-content;
   
    background-color: #b9fd50;
}

.capabilities__text-cont{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.capabilities__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: transparent;
    border: none;
    gap: 10px;

    margin-top: 51px;
}

.capabilities__icon{
    width: 25px;
    height: 25px;
}

.capabilities__button-text{
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 100%;
    text-align: center;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.capabilities__cards-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 103px;
    width: 100vw;
    gap: 43px;
    margin-bottom: 70px;
}

.capabilities__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 98px;
    border-bottom: 1px solid  rgba(185, 253, 80, 0.09);
}

.none{
    border-bottom: none;
}

.capabilities__single-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 12px;

    width: 300px;
    height: 280px;
    
}

.capabilities__card-icon{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.capabilities__card-title{
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: -0.01em;
    color: #fff;
}

.capabilities__card-subtitle{
    font-weight: 400;
    font-size: 1rem;
    line-height: 144%;
    letter-spacing: -0.01em;
    color: #9593a4;

    width: 292px;
    height: 119px;
}

/* CUSTOMER PRIORITY */

.customer{
    width: 100vw;
    background-color: white;
    padding-top: 77px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 61px;
    
}

.customer__cards{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 180px;
}

.customer__swipe-button{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    box-shadow: 0 8px 20px 0 rgba(20, 20, 43, 0.06);
    background: #fff;
    border: none;
}

.customer__arrow{
    width: 15px;
    height: 25px;
}

.customer__big-card{
    border: 1px solid #d9d9d9;
    border-radius: 40px;
    width: 1000px;
    height: 485px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.05);
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
    gap: 44px;
}

.customer__big-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
}

.customer__small-text{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 21px;
}

.customer__logo{
    width: 158px;
    height: 31px;
    margin-bottom: 26px;
}

.customer__title{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 119%;
    text-transform: capitalize;
    color: #14142b;

    width: 495px;
}

.customer__subtitle{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 144%;
    color: rgba(17, 18, 4, 0.78);
    text-align: start;
    width: 478px;
}

.customer__text-weight{
    font-weight: 700;
}

.customer__director{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 110%;
    color: #111204;
    
}

.customer__director-logo{
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: rgba(17, 18, 4, 0.8);
}

.up{
    text-transform: uppercase;
}

.customer__image{
    width: 325px;
    height: 325px;
}

.reverse{
    transform: rotateZ(180deg);
}

.customer__button-mobile{
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: none;
}

/* PRICING */

.pricing{
    width: 100vw;
    background-color: black;
}

.pricing__card-cont{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 112px;
    padding-bottom: 70px;
}

.pricing__title{
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #fff;
}

.pricing__value-view{
    border-radius: 8px;
    padding: 6px 20px;
    width: 123px;

    background: #b9fd50;
    color: black;

    font-weight: 300;
    font-size: 0.8rem;
    line-height: 180%;
    text-align: center;
    color: #111204;
}

.pricing__value-view--white{
    width: 104px;
    background-color: white;
}

.pricing__card-buttons-text{
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.8);

    width: 265px;
}

.pricing__card{
    border-radius: 16px;
    width: 360px;
    height: fit-content;
    background: #222;
    padding: 40px 35px;
    border: 1px solid rgba(185, 253, 80, 0.37);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.pricing__card-buttons-extra{
    width: 275px;
    display: flex;
    gap: 15px;
    justify-content: start;
    align-items: center;
}

.pricing__list-text--green{
    font-weight: 600;
    color: #b9fd50;
}

.pricing__card-buttons{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: start;
    align-items: center;
}

.pricing__price-text{
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: -0.02em;
    text-align: center;
    color: #b9fd50;
}



.pricing__price{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 17px;
}

.pricing__requires{
    width: 270px;
}

.pricing__list{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 28px;
    list-style-type: none;
}

.pricing__list-item::before {
    content: "";
   
    width: 16px;
    height: 16px;
    background-image: url("../img/star-list-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
}

.pricing__list-item{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


.pricing__buttons-interactive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-top: 25px;
}

.pricing__button{
    border: 1px solid #b9fd50;
    border-radius: 8px;
    padding: 14px 14px;
    width: 269px;
    height: 56px;
    background-color: transparent;
}



.pricing__button-link{
    font-weight: 500;
    font-size: 1rem;
    line-height: 138%;
    color: #fff;
}

.pricing__button--green{
    background-color: #b9fd50;
}

.pricing__button-link--black{
    color: black
}

/* NEWS */

.news{
    width: 100vw;
    background-color: black;
}

.news__cards{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 111px;
}

.news__single-card{
    width: 554px;
    height: 212px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 22px;
    overflow: hidden;

    border-radius: 16px;
    border: 1px solid rgba(185, 253, 80, 0.37);
    z-index: 1;
}

.news__img{
    width: 223px;
    height: 212px;
    z-index: 1000;
}

.news__card-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 13px;

    width: 290px;
}

.news__green-title{
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #b9fd50;
}

.news__card-title{
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;

    width: 275px;
}

.news__card-subtitle{
    width: 281px;

    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #ababb2;
}

.news__button-cont{
    margin-top: 92px;
    border: 1px solid #b9fd50;
    border-radius: 16px 15px 16px 16px;
    padding: 15px 35px;
    width: 218px;
    height: 71px;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 90px;
    
   
}

.news__button-link{
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    color: #a5d96f;
}

.news__cards-inner{
    display: flex;
    width: 1200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 31px;
}

/* FAQS */

.FAQS{
    width: 100vw;
    background-color: white;
    height: 1338px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 64px;
}

.opacity-low{
    color: rgba(0, 0, 0, 0.6);
}

.FAQS__form{
    width: 543px;
    height: 788px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;

}

.FAQS__questions{
    width: 543px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 27px;
}

.FAQS__card{
    width: 543px;
    height: 86px;
    display: flex;
    padding: 27px 32px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    

    background-color: #111204;
    border-radius: 25px;
}

.FAQS__subtitle{
    width: 434px;

    font-weight: 500;
    font-size: 1.2rem;
    line-height: 167%;
    color: #fff;
}

.FAQS__icon{
    width: 18px;
    height: 18px;
    background-color: transparent;
}

.FAQS__button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: #B9FD50;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.FAQS__form-cont{
    border: 1.50px solid #111204;
    border-radius: 14px;
    width: 539px;
    height: 132px;
    padding: 8px 15px;

    display: flex;
    justify-content: start;
    align-items: start;
}

.FAQS__ask{
    font-weight: 400;
    font-size: 1rem;
    line-height: 175%;
    letter-spacing: -0.01em;
    color: #8d8d8d;
    opacity: 0.6;

    background-color: transparent;
    border: none;
    width: 500px;
}

.FAQS__button-cont{
    width: 539px;

    display: flex;
    justify-content: space-between;
    

}

.FAQS__answer-text{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 175%;
    letter-spacing: -0.01em;
    color: rgba(17, 18, 4, 0.6);
    width: 242px;
}

.FAQS__button-send{
    border-radius: 30px;
    width: 140px;
    height: 48px;
    background: #b9fd50;
    border: none;

    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111204;

    cursor: pointer;
}

/* BANNER */

.banner{
    width: 100vw;
    background-color: transparent;
    position: relative;
}
/* 
.banner__inner-cont{
    width: 1209px;
    height: 424px;
    background-color:  #1e2008;;
    border-radius: 35px;
    padding: 59px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    position: absolute;
    left: calc(50vw - 32vw);
    top: -230px
    
} */
.banner__inner-cont{
    width: 62vw;
    height: 424px;
    background-color:  #1e2008;;
    border-radius: 35px;
    padding: 59px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    margin-top: -230px;
    
}

.dark-theme-new{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    z-index: 1;
}

.dark-theme-text__title-banner{
    font-weight: 700;
    font-size: 4rem;
    line-height: 102%;
    letter-spacing: -0.06em;
    text-align: center;
    color: #fff;

    width: 506px;
}

.dark-theme-text__subtitle--new{
    width: 350px;
    text-align: center;
}

.green-button--new{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 19px;
    cursor: pointer;
}

.light__svg--new{
    left: 30%;
    background-color: rgba(184, 253, 80, 0.192);
}

/* FOOTER */

.footer{
    width: 100vw;
    background-color: black;
    height: fit-content;
    padding-top: 70px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 56px;
}

.footer__logo{
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: fit-content;
}

.footer__subtitle{
    font-weight: 400;
    font-size: 1rem;
    line-height: 153%;
    color: #fff;
    width: 311px;
}

.distance{
    text-align: start;
}

.footer__cont{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.footer__facebook{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon{
    width: 24px;
    height: 24px;
}

.footer__contacts{
    width: 20px;
    height: 20px;
}

.facebook{
    position: absolute;
    
}

.round{
    position: relative;
}

.footer__icons{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 25px;
    width: fit-content;
}

.footer__icon-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer__images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer__line{
    width: 1300px;
    margin: 0 auto;
}

.footer__bottom{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 26px;
    
}

.footer__list{
    width: 394px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

.footer__link{
    font-weight: 400;
    font-size: 1rem;
    line-height: 163%;
    color: #fff;
}

.footer__rights{
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    width: fit-content;
}


.footer__bottom-inner{
    width: 90vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}




